/*RESPON SIVE*/
@font-face{
    font-family: BebasNeue-bold;
    src:url('../fonts/BebasNeue\ Bold.ttf')
}
@font-face{
    font-family: proxima-nova-rg;
    src:url(../fonts/Proxima\ Nova\ Bold.woff);
}
body{
    /* background: black; */
    font-family: Arial;

}
.banner-top{
    padding-top:155px;
}

@media (min-width: 576px)
{
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px)
{
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px)
{
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px)
{
    .container {
        max-width: 1140px;
    }
}

@media screen and (min-width: 1279px)
{
    .container{
        max-width: 1270px;
        
        
    }
}
/**************************************************************************/